.container {
    width: 50%;
    height: 90vh;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* section 1 style */

.container .section1.signInSection {
    padding: 60px 0;
}

.container > .section1 {
    flex: 1;
    min-height: 380px;
    max-height: 400px;
    align-items: center;
    flex-direction: column;
}

.container > .section1 > p > span {
    font-size: 30px;
}

.container > .section1 > form {
    gap: 30px;
    width: 100%;
    height: 70%;
    padding: 10px 60px;
    flex-direction: column;
}

/* section 2 style */

.container > .section2 {
    flex: 1;
    gap: 20px;
    min-height: 380px;
    max-height: 400px;
    text-align: center;
    background: #064;
    /* background: var(--navbar); */
    flex-direction: column;
    justify-content: center;
}

.container > .section2 * {
    color: var(--text-outline);
}

.container > .section2 > p:first-of-type {
    font-size: 30px;
}

.container > .section2 > p:last-of-type {
    font-size: 14px;
}

.container > .section2 > button {
    width: 150px;
    margin: 0 auto;
    border-radius: 15px;
    transition: all 300ms ease-in-out 0s;
} 


/* Form content */

.container > .section1 > form > input:first-of-type {
    margin-top: 40px;
}

.container > .section1 > form > input {
    border: none;
    outline: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #eeedef;
}

.container > .section1 > form > button {
    --btn-primary: var(--navbar);
    --text-primary: #fff;
    border-radius: 20px;
    transition: all 300ms ease-in-out 0s;
}

/* hover effect */
.container > .section1 > form > button:hover {
    --btn-primary: #064;
    box-shadow: 0 0 2px 2px #074;
}

.container > .section2 > button:hover {
    --btn-outline: #fff;
    --text-outline: var(--navbar);
    border: 1px solid transparent;
    box-shadow: 0 0 2px 2px #fff;
}

/* focus effect */
.container > .section1 > form > input:focus {
    outline: none;
}
